@use "./variables.scss" as *;

// put your custom CSS here!
@font-face {
  font-family: "Hack";
  src: url("/static/Hack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 
@font-face {
  font-family: "Hack";
  src: url("/static/Hack-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
 
@font-face {
  font-family: "Hack";
  src: url("/static/Hack-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hack";
  src: url("/static/Hack-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1 {
  text-transform: uppercase;
}
